TCPClient/*
TCPClient/*/*
!TCPClient/src
!TCPClient/src/*

ClientServerModelExample/*
ClientServerModelExample/*/*
!ClientServerModelExample/src
!ClientServerModelExample/src/*

MyWebService/*
MyWebService/*/*
!MyWebService/src/
!MyWebService/src/*
